#ka .reset-filters-btn,
#ka .reset-filters-btn:hover {
background: transparent;
box-shadow: none;
}

.filter-empty,
.filter-category:has(.filter-empty) {
    display: none!important;
}

.tax-coursecategory #ka .filter-category.has-parent .checkbox-label {
    font-size: 1em;
    opacity: 1;
}
.filter-item:not(:has(.filter-available,.filter-search )) {
    display: none;
  }
  /* Skjul .filter-item som ikke har søk OG ikke har noen aktiverte valg */
/*.filter-item:not(:has(.filter-search, input.filter-checkbox:not([disabled]))) {
    display: none;
  }*/
 /* .filter-item:not(:has(
  .filter-search,
  .filter-category:not(.filter-empty),
  .filter-list-item:not(.filter-empty)
)) { display: none; }*/

  