#ka .courselist-items {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}
#ka .courselist-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.041);
  }
#ka .courselist-item:last-child {
    border-bottom: none;
  }

#ka .courselist-item:first-child .courselist-main{
    border-radius: 5px 5px 0 0;
  }
#ka .courselist-item:last-child:not(.active) .courselist-main{
    border-radius: 0 0 5px 5px;
  }
#ka .courselist-item.single-item:not(.active) .courselist-main{
    border-radius: 5px;
  }